{% extends 'hms_admin/admin_master.html' %}
{% load static %}

{% block header %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<link rel="stylesheet" href=" {% static 'assets/css/add_doctor.css' %}">


{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div>
                    <h2 class="text-center mb-3 text-dark" >Add Staff</h2>


                    <div style="display:flex;width:100%;">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div style="width:100%;">
                                <p>Name</p>
                                <input name="name" autofocus>
                            </div>

                            <div style="width:100%;">
                                <p>Email ID</p>
                                <input name="id">
                            </div>

                            <div style="width:100%;">
                                <p>Address</p>
                                <input name="address">
                            </div>

                            <div style="width:100%;">
                                <p>Mobile Number</p>
                                <input name="number">
                            </div>

                            <div style="width:100%;">
                                <p>Password</p>
                                <input name="pass">
                            </div>

                            <div style="width:100%; ">
                                <p>Upload Photo</p>
                                <input type="file" id="staff_img" name="staff_photo">
                            </div>

                            <button type="submit"> SUBMIT </button>
                            

                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}