{% extends 'patient/patient_home.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href=" {% static 'css/pt_chg-pwd.css' %}">
<link rel="stylesheet" href=" {% static 'js/pt_chg-pwd.js' %}">
{% endblock %}

{% block content %}
<br><br><br>
<section class="section mb-5 mt-5">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-11 text-center">
                <div id="container">
                    <div id="header"></div>
                    <div id="form">
                        <form>
                            <!-- required -->
                            <input type="password" placeholder="Old Password" id="passOld" > <br><br>

                            <input type="password" placeholder="New Password" id="passOne" > <br><br>

                            <input type="password" placeholder="Confirm Password" id="passTwo"> <br><br><br>
                            <div class="pass-sub">
                                <a href="{% url 'patient:confirm' %}">

                                    <input type="button" value="Submit" id="btn1" class="btn-primary"> </a>
                            </div>
                        </form>
                    </div>
                    <div id="footer" class="incorrect"></div>
                </div>
            </div>
        </div>
    </div> <br><br><br>
    </div>
</section>


{% endblock %}